In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/remesas_mun_mx.csv", encoding = "latin")
df.head()

   Unnamed: 0       Fecha      value          Estado       Municipio
0           0  01/01/2013  39.091951  Aguascalientes  Aguascalientes
1           1  01/04/2013  45.613212  Aguascalientes  Aguascalientes
2           2  01/07/2013  42.517968  Aguascalientes  Aguascalientes
3           3  01/10/2013  44.848472  Aguascalientes  Aguascalientes
4           4  01/01/2014  44.789329  Aguascalientes  Aguascalientes